.service {
  position: relative;
  height: auto;
  /* min-width: 800px; */
  padding: 180px 0 210px;
}
.service .inner {
  height: 100%;
}

/* title */
.service-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 38px;
}
.service-title span {
  font-family: "Godo", "notokr";
  color: #3a68b2;
}

/* 박스영역 */
.service-wrap {
  /* width: calc(100% - 20px * 2); */
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}
.service-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: end;
  padding: 30px;
}

/* 박스 공통 이미지 */
.service-bg {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

/* box */
.service-box-1 {
  position: relative;
  grid-row: 1/3;
  /* 박스 (이미지) 높이 : 700px / 1420 * 100 = 49.2957vw */
  aspect-ratio: 35/34;
  /* height: 49.2957vw; */
  /* max-height: 680px; */
  overflow: hidden;
}
.service-bg1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/main_service_img1.jpg) no-repeat center;
  background-size: cover;
}

.service-box-2 {
  position: relative;
  overflow: hidden;
}
.service-bg2 {
  width: 100%;
  height: 100%;
  background: url(../images/main_service_img2.jpg) no-repeat center;
  background-size: cover;
}

.service-box-3 {
  position: relative;
  overflow: hidden;
}
.service-bg3 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/main_service_img3.jpg) no-repeat center;
  background-size: cover;
}

/* contents */
.service-box-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9;
  color: #fff;
}
/* box-title */
.service-box-title {
  font-size: 26px;
  margin-bottom: 3px;
}
.service-box-desc {
  font-size: 17px;
  font-weight: 300;
  opacity: 0.8;
}
.no-br {
  /* pc - br 비활성화 */
  display: none;
}
/* button */
.service-box-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 40px; */
  max-width: 140px;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 15px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
}

/* box hover */
.service-box-1:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
.service-box-2:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
.service-box-3:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
